<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Dashboard Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('sidebar.ejs') %>
        <div class="col-8 content-box mb-5">
          <h2>Dashboard</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="info-box text-center">
                  <h4>Jumlah Aset</h4>
                  <p>Total : <%= totalAset %></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box text-center">
                  <h4>Jumlah Nilai</h4>
                  <p>Total : Rp <%= totalNilai %></p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <canvas id="assetChartSumber"></canvas>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <canvas id="assetChartKategori"></canvas>
                  </div>
                  <div class="col-md-12">
                    <canvas id="assetChartNilaiLokasi"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var ctxKategori = document.getElementById('assetChartKategori').getContext('2d');
            var dataKategori = <%- JSON.stringify(dataKategori) %>;
            var labelsKategori = dataKategori.map(item => item.nama_kategori);
            var valuesKategori = dataKategori.map(item => item.total);

            var backgroundColorsKategori = generateRandomColors(dataKategori.length);

            var assetChartKategori = new Chart(ctxKategori, {
            type: 'bar',
            data: {
            labels: labelsKategori,
            datasets: [{
              data: valuesKategori,
              backgroundColor: backgroundColorsKategori,
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
            options: {
            plugins: {
            title: {
              display: true,
              text: 'Jumlah Aset per Kategori'
            },
              legend: {
              display: false, // Menyembunyikan legend
            }
          }
        }
      });



            var ctxNilaiLokasi = document.getElementById('assetChartNilaiLokasi').getContext('2d');
            var dataNilaiLokasi = <%- JSON.stringify(dataNilaiLokasi) %>;
            var labelsNilaiLokasi = dataNilaiLokasi.map(item => item.lokasi);
            var valuesNilaiLokasi = dataNilaiLokasi.map(item => item.total);

            var backgroundColorsNilaiLokasi = generateRandomColors(dataNilaiLokasi.length);

            var assetChartNilaiLokasi = new Chart(ctxNilaiLokasi, {
              type: 'line',
              data: {
                labels: labelsNilaiLokasi,
                datasets: [{
                  // label: 'Nilai Aset per Lokasi',
                  data: valuesNilaiLokasi,
                  backgroundColor: backgroundColorsNilaiLokasi,
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: 'Nilai Aset per Lokasi'
                  },
                  legend: {
                  display: false, // Menyembunyikan legend
                }
                }
              }
            });

            var ctxSumber = document.getElementById('assetChartSumber').getContext('2d');
            var dataSumber = <%- JSON.stringify(dataSumber) %>;

            var labelsSumber = dataSumber.map(item => item.sumber);
            var valuesSumber = dataSumber.map(item => item.total);

            var backgroundColorsSumber = generateRandomColors(dataSumber.length);

            var assetChartSumber = new Chart(ctxSumber, {
              type: 'pie',
              data: {
                labels: labelsSumber,
                datasets: [{
                  data: valuesSumber,
                  backgroundColor: backgroundColorsSumber,
                  borderColor: backgroundColorsSumber,
                  borderWidth: 1
                }]
              },
              options: {
                plugins: {
                  title: {
                    display: true,
                    text: 'Jumlah Aset per Sumber'
                  },
              legend: {
              display: false, // Menyembunyikan legend
            }
                }
              }
            });

            // Fungsi untuk menghasilkan warna acak
            function generateRandomColors(count) {
              var colors = [];
              for (var i = 0; i < count; i++) {
                var color = 'rgba(' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ', 0.2)';
                colors.push(color);
              }
              return colors;
            }

            // Fungsi untuk mendapatkan angka bulat acak
            function getRandomInt(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
            }
          });
    </script>
  </body>
</html>
