<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Laporan Aset</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th,
      td {
        border: 1px solid black;
        padding: 10px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h1>Laporan Manajemen Aset</h1>
    <table>
      <thead>
        <tr>
          <th>Nama Jenis</th>
          <th>ID Aset</th>
          <th>Nama Aset</th>
          <th>Jumlah</th>
          <th>Nilai</th>
          <th>Dibuat pada</th>
        </tr>
      </thead>
      <tbody>
        <% let currentType = null; %> <% let currentLocation = null; %> <% let
        currentCategory = null; %> <% results.forEach(function(aset) { %> <% if
        (currentLocation !== aset.nama_lokasi) { %>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentLocation || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerLocation[currentLocation] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerLocation[currentLocation] %></span
            >
          </td>
        </tr>
        <% currentLocation = aset.nama_lokasi; %> <% } %> <% if (currentCategory
        !== aset.nama_kategori) { %>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentCategory || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerCategory[currentCategory] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerCategory[currentCategory] %></span
            >
          </td>
        </tr>
        <% currentCategory = aset.nama_kategori; %> <% } %> <% if (currentType
        !== aset.nama_jenis) { %>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentType || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerJenis[currentType] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerJenis[currentType] %></span
            >
          </td>
        </tr>
        <% currentType = aset.nama_jenis; %> <% } %>
        <tr>
          <td><%= aset.nama_jenis %></td>
          <td><%= aset.id_aset %></td>
          <td><%= aset.nama_aset %></td>
          <td><%= aset.jumlah %></td>
          <td>Rp <%= aset.nilai %></td>
          <td><%= aset.created_at %></td>
        </tr>
        <% }); %>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentType || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerJenis[currentType] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerJenis[currentType] %></span
            >
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentCategory || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerCategory[currentCategory] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerCategory[currentCategory] %></span
            >
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <strong>Total <%= currentLocation || 'Keseluruhan' %> :</strong>
            <span style="float: right"
              ><%= totalJumlahPerLocation[currentLocation] %></span
            >
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilaiPerLocation[currentLocation] %></span
            >
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <strong>Total Keseluruhan :</strong>
            <span style="float: right"><%= totalJumlah %></span>
            <span style="float: right; margin-right: 10px"
              >Rp <%= totalNilai %></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
