<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Aset Admin</title>
    <!-- Tautan ke Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="/css/admin-tambah.css" /> -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" class="logo-stmik" />
        </a>
        <p class="navbar-brand-judul" href="#">Manajemen Aset</p>
        <div class="user-container">
          <p class="username"><%= userName %></p>
          <div class="logout">
            <a href="/logout" class="btn custom-btn">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard/admin">
                <img
                  src="/images/Dashboard.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aset/user">
                <img src="/images/aset.png" alt="Logo" class="logo-sidebar" />
                Data Aset
              </a>
              <ul class="submenu">
                <li class="nav-item">
                  <a class="nav-link" href="/aset/user">Aset</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/jenis/user">Jenis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/nama/aset/user">Nama Aset</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/lokasi/user">Lokasi</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/laporan/user">
                <img
                  src="/images/laporan.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Laporan
              </a>
            </li>
          </ul>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="sidebar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/dashboard/admin">
                    <img
                      src="/images/Dashboard.png"
                      alt="Logo"
                      class="logo-sidebar"
                    />
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aset/user">
                    <img src="/images/aset.png" alt="Logo" class="logo-sidebar" />
                    Data Aset
                  </a>
                  <ul class="submenu">
                    <li class="nav-item">
                      <a class="nav-link" href="/aset/user">Aset</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/jenis/user">Jenis</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/nama/aset/user">Nama Aset</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/lokasi/user">Lokasi</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/laporan/user">
                    <img
                      src="/images/laporan.png"
                      alt="Logo"
                      class="logo-sidebar"
                    />
                    Laporan
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-8 content-box mb-5">
              <h2>Edit Data Aset</h2>
              <div class="row">
                <div class="col-md-6">
                  <form action="/aset/edit/user/<%= asetID %>" method="post">
                    <div class="form-group">
                      <label for="aset">ID Aset :</label>
                      <select class="form-select" id="aset" name="aset" required>
                        <option selected value="<%= idAset %>"><%= namaAset %></option>
                        <% aset.forEach(function(aset) { %>
                        <option value="<%= aset.id_aset %>">
                          <%= aset.nama_aset %>
                        </option>
                        <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Jumlah">Jumlah :</label>
                      <input
                        type="number"
                        id="Jumlah"
                        name="jumlah"
                        required
                        class="form-control"
                        value="<%= jumlah %>"
                      />
                    </div>
                    <div class="form-group">
                      <label for="nilai">Nilai :</label>
                      <input
                        type="number"
                        id="nilai"
                        name="nilai"
                        required
                        class="form-control"
                        value="<%= nilai%>"
                      />
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lokasi">Lokasi :</label>
                    <select id="lokasi" name="lokasi" class="form-select" required>
                      <option selected value="<%= lokasiID %>"><%= namaLokasi %></option>
                      <% lokasi.forEach(function(lokasi) { %>
                      <option value="<%= lokasi.id %>">
                        <%= lokasi.nama_lokasi %>
                      </option>
                      <% }); %>
                      <!-- Tambahkan opsi sesuai dengan kebutuhan Anda -->
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="sumber">sumber :</label>
                    <select id="sumber" name="sumber" class="form-select" required>
                      <option selected value="<%= sumberLama %>"><%= sumberLama %></option>
                      <!-- <option selected value=""><%= sumberLama %></option> -->
                      <% sumber.forEach(function(sumber) { %>
                      <option value="<%= sumber.id %>">
                        <%= sumber.nama_sumber %>
                      </option>
                      <% }); %>
                      <!-- Tambahkan opsi sesuai dengan kebutuhan Anda -->
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="kondisi">Kondisi :</label>
                    <select
                      id="kondisi"
                      name="kondisi"
                      required class="form-select"
                    >
                      <option selected><%= kondisi %></option>
                      <option value="Baik">Baik</option>
                      <option value="Rusak">Rusak</option>
                      <option value="Rusak Berat">Rusak Berat</option>
                      <!-- Tambahkan opsi sesuai dengan kebutuhan Anda -->
                    </select>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary me-2">Tambah</button>
                <a href="/aset/user" class="btn btn-secondary">Batal</a>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JS Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
