<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/admin-dashboard.css" />
    <!-- Sesuaikan dengan path CSS Anda -->
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/images/logo.png" class="logo-stmik" />
        </a>
        <a class="navbar-brand-judul" href="#">Manajemen Aset </a>
        <a style="margin-left: 600px"><%= userName %></a>
        <div class="logout">
          <a href="/logout" class="btn custom-btn">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3 sidebar">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/dashboard/user"
              >
                <img
                  src="/images/Dashboard.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aset/user">
                <img src="/images/aset.png" alt="Logo" class="logo-sidebar" />
                Data Aset
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/laporan/user">
                <img
                  src="/images/laporan.png"
                  alt="Logo"
                  class="logo-sidebar"
                />
                Laporan
              </a>
            </li>
          </ul>
        </div>

        <div class="col-8 content-box">
          <h2>Dashboard</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="info-box text-center">
                  <h4>Jumlah Aset</h4>
                  <p>Total: <%= totalAset %></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box text-center">
                  <h4>Jumlah Nilai</h4>
                  <p>Total: <%= totalNilai %></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <canvas id="assetChartKategori"></canvas>
              </div>
              <div class="col-md-6">
                <canvas id="assetChartNilaiLokasi"></canvas>
              </div>
              <div class="col-md-6">
                <canvas id="assetChartSumber"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
          document.addEventListener("DOMContentLoaded", function() {
            var ctxKategori = document.getElementById('assetChartKategori').getContext('2d');
            var dataKategori = <%- JSON.stringify(dataKategori) %>;
            var labelsKategori = dataKategori.map(item => item.nama_kategori);
            var valuesKategori = dataKategori.map(item => item.total);

            var assetChartKategori = new Chart(ctxKategori, {
              type: 'bar',
              data: {
                labels: labelsKategori,
                datasets: [{
                  label: 'Jumlah Aset per Kategori',
                  data: valuesKategori,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
                }]
              }
            });

            var ctxNilaiLokasi = document.getElementById('assetChartNilaiLokasi').getContext('2d');
            var dataNilaiLokasi = <%- JSON.stringify(dataNilaiLokasi) %>;
            var labelsNilaiLokasi = dataNilaiLokasi.map(item => item.lokasi);
            var valuesNilaiLokasi = dataNilaiLokasi.map(item => item.total);

            var assetChartNilaiLokasi = new Chart(ctxNilaiLokasi, {
              type: 'bar',
              data: {
                labels: labelsNilaiLokasi,
                datasets: [{
                  label: 'Nilai Aset per Lokasi',
                  data: valuesNilaiLokasi,
                  backgroundColor: 'rgba(255, 99, 132, 0.2)',
                  borderColor: 'rgba(255, 99, 132, 1)',
                  borderWidth: 1
                }]
              }
            });

            var ctxSumber = document.getElementById('assetChartSumber').getContext('2d');
      var dataSumber = <%- JSON.stringify(dataSumber) %>;

      var labelsSumber = dataSumber.map(item => item.sumber);
      var valuesSumber = dataSumber.map(item => item.total);

      var assetChartSumber = new Chart(ctxSumber, {
        type: 'bar',
        data: {
          labels: labelsSumber,
          datasets: [{
            label: 'Jumlah Aset per Sumber',
            data: valuesSumber,
            backgroundColor: 'rgba(128, 0, 128, 0.2)',
            borderColor: 'rgba(128, 0, 128, 1)',

            borderWidth: 1
          }]
        }
      });

          });
    </script>
  </body>
</html>
