<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lokasi Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Datatable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="icon" href="/images/logo2.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <%- include('navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('sidebar.ejs') %>

        <div class="col-8 content-box mb-5">
          <!-- Konten dalam kotak -->
          <h2>Lokasi</h2>
          <!-- Tombol "Tambah" -->
          <a href="/lokasi/tambah/user" class="btn btn-primary my-4">Tambah +</a>
          <!-- Elemen tabel -->
          <div class="row mb-3" style="overflow-x:auto;">
          <table id="location" class="display" style="width: 100%;">
            <thead>
              <tr>
                <th scope="col">Lokasi</th>
                <th scope="col">Aksi</th>
               </tr>
            </thead>
            <tbody>
              <% lokasi.forEach(function(lokal) { %>
                  <tr>
                    <td><%= lokal.nama_lokasi %></td>
                    <td><a href="/lokasi/edit/user/<%= lokal.id %>" class="btn btn-sm btn-primary">Edit</a>
                      <a onclick="return confirm('Apakah Anda yakin akan menghapus data ini?')" href="/lokasi/delete/user/<%= lokal.id %>" class="btn btn-sm btn-danger">Hapus</a></td>
                  </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        
        
    

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- Datatable js -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- Panggil Datatable -->
    <script>
      new DataTable('#location', {
        lengthMenu: [5, 10, 15]
      });
    </script>
  </body>
</html>
